.subtitulo{ 
    margin: .92rem;
    padding: 0;
    text-align: center;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

.imagen{
    float: right;
    margin: 0 0 20px 20px;
    max-width: 24%;
    height: auto;
}

.imagen2{
    float: left;
    margin: 0 20px 20px 0;
    max-width: 17%;
    height: auto;
}

p{ 
    font-size: 1.8rem;
}
